body{
    font-family:"Gemunu Libre", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style:normal;
    background-color: #f9f9f9;
    color: #D2B48C;
    margin: 20px;
    padding: 40px;
    line-height: 2;
    background-image: url('images/flag_china.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000000;
    padding: 40px;
    text-align: right;

}

h1{
    color: #0056b3;
    font-size: 2em;
}

p{
    font-size: 20px;
}

a{
    color: #1a73e8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
  }